//Font Family
$relaway: 'Raleway', sans-serif;
$monospace : 'monospace';


// Font Weight
$relawayLight: 300;
$relawayRegular: 400;
$relawayBold: 700;



// Font Sizes
$xx-large: 4rem;
$x-large: 3rem;
$large: 2rem;
$md-lg : 1.5rem;
$medium: 1rem;
$sm-md : 0.825rem;
$small: 0.5rem;

//colores
$negro: #000;
$gris: gray;
$celeste : steelblue;
$blanco : white;
$colorPie: #f2f4f5;
$coral : coral;