body {
  width: 100%;
}
body .contenidoCentral {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.main .mainCentral {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repet(6, 1 fr);
  grid-gap: 1rem 0.5rem;
}
.main .mainDer {
  display: none;
}

@media (min-width: 768px) {
  .main .mainCentral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-gap: 1rem 0.5rem;
  }
}
@media (min-width: 992px) {
  .main .mainCentral {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1 fr;
    grid-gap: 1rem 0.5rem;
  }
}
.header {
  width: 100%;
  padding: 1rem;
}
.header .menu {
  border-bottom: 0.0625rem solid gray;
}
.header .menu .menuLogo {
  width: 30%;
  text-transform: uppercase;
  display: inline-block;
}
.header .menu .menuLogo .menuLogoAncla {
  text-decoration: none;
  text-transform: uppercase;
}
.header .menu .menuLogo .menuLogoAncla h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000;
}
.header .menu .menuItems {
  width: 69%;
  display: inline-block;
  text-align: right;
  padding-right: 2rem;
}
.header .menu .menuItems li {
  display: inline-block;
  text-transform: uppercase;
}
.header .menu .menuItems li a {
  text-decoration: none;
}
.header .menu .menuItems li.menuItems_ocultable {
  display: none;
}
.header .menu .menuItems li .input-menu {
  border-radius: 1.875rem;
}

@media (min-width: 768px) {
  .header .menu .menuItems li.menuItems_ocultable {
    display: inline-block;
  }
}
.main .mainCentral {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repet(6, 1 fr);
  grid-gap: 1rem 0.5rem;
}
.main .mainDer {
  display: none;
}

@media (min-width: 768px) {
  .main .mainCentral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-gap: 1rem 0.5rem;
  }
}
@media (min-width: 992px) {
  .main .mainCentral {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1 fr;
    grid-gap: 1rem 0.5rem;
  }
}
.main {
  width: 100%;
  margin: 0 auto;
}
.main .mainCentral {
  width: 100%;
  padding-left: 1rem;
}
.main .mainCentral .noticia {
  width: 90%;
  display: inline-block;
  margin: 0.3125rem;
  cursor: pointer;
}
.main .mainCentral .noticia .cuerpo img {
  width: 100%;
  height: auto;
}
.main .mainCentral .noticia .cuerpo p {
  padding: 0.3125rem 0.625rem;
}
.main .mainDer {
  display: none;
}

@media (min-width: 992px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }
  .main .mainCentral {
    width: 73%;
    float: left;
    padding-left: 1rem;
  }
  .main .mainCentral .noticia {
    width: 90%;
    display: inline-block;
    margin: 0.3125rem;
    cursor: pointer;
  }
  .main .mainCentral .noticia .cuerpo img {
    width: 100%;
    height: auto;
  }
  .main .mainCentral .noticia .cuerpo p {
    padding: 0.3125rem 0.625rem;
  }
  .main .mainDer {
    display: inline-block;
    width: 26%;
    float: left;
    padding-left: 2rem;
  }
  .main .mainDer .mainDerCabeceraListado {
    width: 80%;
    border-bottom: 0.0625rem solid gray;
  }
  .main .mainDer .mainDerTags {
    width: 80%;
    border-bottom: 0.0625rem solid gray;
  }
  .main .mainDer .mainDerTags ul {
    padding: 0;
    list-style: none;
    padding-left: 0.5rem;
  }
  .main .mainDer .mainDerTags ul li {
    padding: 0.125rem 0.25rem;
    background-color: steelblue;
    margin-right: 0.0625rem;
    color: white;
    display: inline-block;
  }
  .main .mainDer .mainDerNoticiasDestacadas {
    width: 80%;
    margin-bottom: 3.125rem;
  }
  .main .mainDer .mainDerNoticiasDestacadas img {
    width: 100%;
    height: auto;
  }
}
.pie {
  clear: both;
}
.pie .pieNewsletter {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.pie .pieNewsletter h2 {
  font-size: 1.5rem;
}
.pie .pieNewsletter .pieNewsletterGroup {
  display: inline-block;
  border-width: 0;
  font-size: 1.5rem;
}
.pie .pieNewsletter .pieNewsletterGroup input {
  font-size: 1.5rem;
}
.pie .pieNewsletter .pieNewsletterGroup button {
  background-color: coral;
  color: white;
  font-size: 1.5rem;
}
.pie .pieDerechos {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .pie .pieDerechos {
    font-size: 0.825rem;
  }
}

/*# sourceMappingURL=style.css.map */
