.pie{
    
    clear: both;

    .pieNewsletter{
        width: 100%;
        background-color: $colorPie;
        text-align: center;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;

        h2{
            font-size: $md-lg;
        }
        .pieNewsletterGroup{
            display: inline-block;
            border-width: 0;
            font-size: $md-lg;
            //padding: 0.5rem 0.6rempx;

            input{
                font-size: $md-lg;
            }

            button{
                background-color: $coral;
                color: $blanco;
                font-size: $md-lg;
            }
            
        }
    }
    .pieDerechos{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: $md-lg;
    }
}


@media (min-width:992px){
    .pie{
    
        .pieDerechos{
            font-size: $sm-md;
        }
    }
}