.main{
    width: 100%;
    margin: 0 auto;

    .mainCentral{
        width: 100%;
        padding-left: 1rem;

        .noticia{
            width: 90%;
            display: inline-block;
            margin: 0.3125rem;
            cursor: pointer;
            
            .cabecera{

                h2{

                }
            }
            .cuerpo{

                img{
                    width: 100%;
                    height: auto;
                }
                p{
                    padding: 0.3125rem 0.625rem;
                }
            }
        }
    }
    .mainDer{
        display: none;
    }

}

@media (min-width:992px){
    .main{
        width: 100%;
        margin: 0 auto;
    
        .mainCentral{
            width: 73%;
            float: left;
            padding-left: 1rem;
    
            .noticia{
                width: 90%;
                display: inline-block;
                margin: 0.3125rem;
                cursor: pointer;
                
                .cabecera{
    
                    h2{
    
                    }
                }
                .cuerpo{
    
                    img{
                        width: 100%;
                        height: auto;
                    }
                    p{
                        padding: 0.3125rem 0.625rem;
                    }
                }
            }
        }
        .mainDer{
            display: inline-block;
            width: 26%;
            float: left;
            padding-left: 2rem;
    
            .mainDerCabeceraListado{
                width: 80%;
                border-bottom: 0.0625rem solid $gris;
            }
            .mainDerTags{
                width: 80%;
                border-bottom: 0.0625rem solid $gris;
    
                ul{
                    padding: 0;
                    list-style: none;
                    padding-left: 0.5rem;
    
                    li{
                        padding: 0.125rem 0.25rem;
                        background-color: $celeste;
                        margin-right: 0.0625rem;
                        color: $blanco;
                        display: inline-block;
                    }
                }
            }
            .mainDerNoticiasDestacadas{
                width: 80%;
                margin-bottom: 3.125rem;
    
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    
    }
}