//header 

.header{
    width: 100%;
    padding: 1rem;
   
    .menu{
        border-bottom: 0.0625rem solid $gris;

        .menuLogo{
            width: 30%;
            text-transform: uppercase;
            display: inline-block;

            .menuLogoAncla{
                text-decoration: none;
                text-transform: uppercase;
                // padding-left: 0.5rem;

                h3{
                    font-family: $relaway;
                    // font-family: $monospace;
                    font-weight: $relawayBold;
                    font-size: $large;
                    color: $negro;
                 }
            }
         }

         .menuItems{
            width: 69%;
            display: inline-block;
            text-align: right;
            padding-right: 2rem;

            li{
                display: inline-block;
                text-transform: uppercase;
                
                a{
                    text-decoration: none;
                }
                
                &.menuItems_ocultable{
                    display: none;
                }
               
                .input-menu{
                    border-radius: 1.875rem;
                }
            }
        }
     }
}

// Media Query 
@media (min-width: 768px){
    .header{
       
        .menu{
           
             .menuItems{
               
                li{
                  
                    &.menuItems_ocultable{
                        display: inline-block;
                    }
                }
            }
         }
    }
}

